<div class="title-logo">
  <img src="../assets/pngwing.com.png" alt="" />
</div>
<app-pokedex-search></app-pokedex-search>
<div class="pokemon-table">
  <div class="pokemon-list" *ngFor="let pokemon of pokemons">
    <div class="pokemon-image">
      <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}" />
    </div>
    <div class="pokemon-name">
      <h1>{{ pokemon.name }}</h1>
    </div>

    <div class="pokemon-type">
      <h2>
        {{ pokemon.types[0].type.name }}
      </h2>
    </div>

    <div class="pokemon-ability">
      <h2>{{ pokemon.abilities[0].ability.name }}</h2>
    </div>

    <div class="pokemon-stats" *ngFor="let stat of pokemon.stats">
      <div>
        <h3>
          {{ stat.stat.name }}
        </h3>
      </div>
      <div>
        <h3>
          {{ stat.base_stat }}
        </h3>
      </div>
    </div>
  </div>
</div>
<app-pokedex-list></app-pokedex-list>

<router-outlet></router-outlet>
